---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name postgresql-globular-83867..redis-transparent-58941
      Content-Type:
      - application/json
      Etag:
      - '"dd04f2f06b5af5e2ac813a880ffec18d"'
      Last-Modified:
      - Wed, 18 Nov 2020 18:13:03 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4495'
    body:
      encoding: ASCII-8BIT
      string: '[{"actions":[{"id":"f5279071-b2c7-46ef-9ef4-4ea77a5d872a","label":"Create
        Dataclip","action":null,"url":"http://dataclips.heroku.com/clips/new?heroku_resource_id=:resource_id&heroku_id=:resource_uuid","requires_owner":null},{"id":"a5c134cd-b127-43ba-8870-c82b445736b9","label":"Upgrade
        instructions","action":null,"url":"https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases","requires_owner":null},{"id":"5ca183f0-198f-4736-a2bc-ea557892fca2","label":"Capture
        backup","action":null,"url":"https://data.heroku.com/datastore/:resource_uuid?heroku_action=capture_backup","requires_owner":null}],"app":{"id":"96619e75-b1db-47e2-ac53-7b6475007224","name":"<VALID_APP_ID_WITH_DATABASE>"},"config_vars":["DATABASE_URL"],"created_at":"2018-01-09T19:16:26Z","id":"<VALID_DATABASE_ID_WITH_SCHEDULES>","name":"postgresql-globular-83867","addon_service":{"id":"6c67493d-8fc2-4cd4-9161-4f1ec11cbe69","name":"heroku-postgresql"},"plan":{"id":"062a1cc7-f79f-404c-9f91-135f70175577","name":"heroku-postgresql:hobby-dev"},"billing_entity":{"id":"96619e75-b1db-47e2-ac53-7b6475007224","name":"<VALID_APP_ID_WITH_DATABASE>","type":"app"},"provider_id":"13277431","state":"provisioned","updated_at":"2019-02-08T03:36:14Z","web_url":"https://addons-sso.heroku.com/apps/96619e75-b1db-47e2-ac53-7b6475007224/addons/<VALID_DATABASE_ID_WITH_SCHEDULES>","billed_price":{"cents":0,"contract":false,"unit":"month"}},{"actions":[],"app":{"id":"96619e75-b1db-47e2-ac53-7b6475007224","name":"<VALID_APP_ID_WITH_DATABASE>"},"config_vars":["REDIS_URL"],"created_at":"2018-01-09T19:16:40Z","id":"a837d753-4da1-41d2-a00c-f3d5cf2ac6da","name":"redis-transparent-58941","addon_service":{"id":"5bbf672c-07f6-49c2-9c16-f1dcb96784db","name":"heroku-redis"},"plan":{"id":"67756275-86b8-4edc-80c5-d543f9df7d44","name":"heroku-redis:hobby-dev"},"billing_entity":{"id":"96619e75-b1db-47e2-ac53-7b6475007224","name":"<VALID_APP_ID_WITH_DATABASE>","type":"app"},"provider_id":"resource21973268@heroku.com","state":"provisioned","updated_at":"2020-11-18T18:13:03Z","web_url":"https://addons-sso.heroku.com/apps/96619e75-b1db-47e2-ac53-7b6475007224/addons/a837d753-4da1-41d2-a00c-f3d5cf2ac6da","billed_price":{"cents":0,"contract":false,"unit":"month"}}]'
  recorded_at: Sun, 13 Dec 2020 16:22:42 GMT
- request:
    method: post
    uri: https://postgres-starter-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/transfer-schedules
    body:
      encoding: UTF-8
      string: '{"hour":0,"timezone":"UTC","schedule_name":"DATABASE_URL"}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","name":"DATABASE_URL","hour":1,"days":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"timezone":"Asia/Tokyo","created_at":"2018-03-04
        18:25:39 +0000","updated_at":"2020-12-13 00:00:22 +0000","deleted_at":null,"retain_weeks":1,"retain_months":0}'
  recorded_at: Sun, 13 Dec 2020 16:22:43 GMT
recorded_with: VCR 4.0.0
