---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID_WITH_DATABASE>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name postgresql-corrugated-51220..postgresql-corrugated-51220
      Content-Type:
      - application/json
      Etag:
      - '"146046762b099a1ee2cb4c9215bca6ef"'
      Last-Modified:
      - Wed, 10 Feb 2021 18:31:39 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4461'
    body:
      encoding: ASCII-8BIT
      string: '[{"actions":[{"id":"489f522d-73c6-4da3-b9fe-239fe57aa509","label":"Create
        Dataclip","action":null,"url":"http://dataclips.heroku.com/clips/new?heroku_resource_id=:resource_id&heroku_id=:resource_uuid","requires_owner":null},{"id":"2e5c2d92-eb01-4add-8005-32a938ae2984","label":"Upgrade
        instructions","action":null,"url":"https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases","requires_owner":null},{"id":"477a9556-0ba4-4db7-82cf-87d31eaa6dd1","label":"Capture
        backup","action":null,"url":"https://data.heroku.com/datastore/:resource_uuid?heroku_action=capture_backup","requires_owner":null}],"app":{"id":"09210f42-08d8-4f36-b870-7918e59da22c","name":"<VALID_APP_ID_WITH_DATABASE>"},"config_vars":["DATABASE_URL"],"created_at":"2021-02-10T18:31:39Z","id":"<VALID_DATABASE_ID_WITH_SCHEDULES>","name":"postgresql-corrugated-51220","addon_service":{"id":"6c67493d-8fc2-4cd4-9161-4f1ec11cbe69","name":"heroku-postgresql"},"plan":{"id":"062a1cc7-f79f-404c-9f91-135f70175577","name":"heroku-postgresql:hobby-dev"},"billing_entity":{"id":"09210f42-08d8-4f36-b870-7918e59da22c","name":"<VALID_APP_ID_WITH_DATABASE>","type":"app"},"provider_id":"22268297","state":"provisioned","updated_at":"2021-02-10T18:31:39Z","web_url":"https://addons-sso.heroku.com/apps/09210f42-08d8-4f36-b870-7918e59da22c/addons/<VALID_DATABASE_ID_WITH_SCHEDULES>","billed_price":{"cents":0,"contract":false,"unit":"month"}}]'
  recorded_at: Wed, 10 Feb 2021 18:32:16 GMT
- request:
    method: post
    uri: https://postgres-starter-api.heroku.com/postgres/v0/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/credentials/default/credentials_rotation
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Rotating credentials on <VALID_DATABASE_ID_WITH_SCHEDULES>"}'
  recorded_at: Wed, 10 Feb 2021 18:32:17 GMT
recorded_with: VCR 4.0.0
