---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name deployhooks-vertical-24377..scheduler-vertical-49045
      Content-Type:
      - application/json
      Etag:
      - '"0caa4cc175821f820d5e35e28e5277c8"'
      Last-Modified:
      - Thu, 15 Nov 2018 00:31:16 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4493'
    body:
      encoding: ASCII-8BIT
      string: '[{"actions":[],"config_vars":[],"created_at":"2018-03-26T16:56:42Z","id":"49445b92-a0ab-4205-901b-ed7cbe4dc0db","name":"deployhooks-vertical-24377","addon_service":{"id":"35067aa6-e8af-48b0-8bd3-f5ef5cfd9e4d","name":"deployhooks"},"plan":{"id":"6eb6eeea-c73c-4ee6-8e82-47db1b26d2a1","name":"deployhooks:http"},"billing_entity":{"id":"<VALID_APP_ID_WITH_DATABASE>","name":"nikyshandmade-master","type":"app"},"provider_id":"181504","state":"provisioned","updated_at":"2018-11-14T21:01:57Z","web_url":"https://addons-sso.heroku.com/apps/<VALID_APP_ID_WITH_DATABASE>/addons/49445b92-a0ab-4205-901b-ed7cbe4dc0db","billed_price":{"cents":0,"contract":false,"unit":"month"},"app":{"id":"<VALID_APP_ID_WITH_DATABASE>","name":"nikyshandmade-master"}},{"actions":[{"id":"e9d0e21e-f6eb-4ae7-bf89-f473879149c0","label":"All
        Events","action":"events","url":null,"requires_owner":null},{"id":"a43b6204-ece2-4a85-817f-fda239cd6377","label":"Dashboard","action":"dashboard","url":null,"requires_owner":null},{"id":"7a58726d-f548-4830-bd3b-fdd917c61595","label":"Settings","action":"settings","url":null,"requires_owner":null}],"config_vars":["PAPERTRAIL_API_TOKEN"],"created_at":"2018-10-23T11:51:48Z","id":"c2aad589-13cf-43ee-b77c-d809055321d4","name":"papertrail-slippery-21080","addon_service":{"id":"f6f28cb5-78ad-4ec7-896d-16462b8202fd","name":"papertrail"},"plan":{"id":"75e5e[...]
- request:
    method: post
    uri: https://postgres-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_PRO_PLAN>/backups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":11,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2018-12-03
        16:00:14 +0000","started_at":null,"canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":2}'
  recorded_at: Mon, 03 Dec 2018 16:00:14 GMT
recorded_with: VCR 4.0.0
