---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name deadmanssnitch-lively-37762..scheduler-clear-54288
      Content-Type:
      - application/json
      Etag:
      - '"61d95ab7911fea10c087a3ad0b804323"'
      Last-Modified:
      - Thu, 03 Dec 2020 17:38:21 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4495'
    body:
      encoding: ASCII-8BIT
      string: '[{"actions":[],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["DEADMANSSNITCH_API_KEY"],"created_at":"2018-10-19T10:17:52Z","id":"501a42ac-b435-4a47-a97f-e0a001665a40","name":"deadmanssnitch-lively-37762","addon_service":{"id":"f9a479b6-d984-4158-898c-41e74c8eb007","name":"deadmanssnitch"},"plan":{"id":"724467ad-3cbd-450d-a7fe-ca41a56024c3","name":"deadmanssnitch:the-lone-snitch"},"billing_entity":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>","type":"app"},"provider_id":"c2f4ae8e-c4a5-43d7-b3b2-f984b3a4f367","state":"provisioned","updated_at":"2019-02-08T08:35:51Z","web_url":"https://addons-sso.heroku.com/apps/a7866ca8-08de-4cde-9a7d-bd5601594f7d/addons/501a42ac-b435-4a47-a97f-e0a001665a40","billed_price":{"cents":0,"contract":false,"unit":"month"}},{"actions":[],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["NEW_RELIC_LICENSE_KEY","NEW_RELIC_LOG"],"created_at":"2018-06-04T13:35:46Z","id":"c1aec446-6876-41e2-8dd4-41184366076a","name":"newrelic-opaque-25606","addon_service":{"id":"242de9a1-6b5d-4b98-9c13-b03ade5e45af","name":"newrelic"},"plan":{"id":"68d1fd95-a98b-4263-bcdc-87aefb37662c","name":"newrelic:hawke"},"billing_entity":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>","type":"app"},"provider_id":"1997198","state":"provisioned","updated_at":"2019-04-14T08:17:46Z","web_url":"https://addons-sso.heroku.com/apps/a7866ca8-08de-4cde-9a7d-bd5601594f7d/addons/c1aec446-6876-41e2-8dd4-41184366076a","billed_price":{"cents":4900,"contract":false,"unit":"month"}},{"actions":[{"id":"bbb84dad-c246-4ae9-bbaf-dd8316e55663","label":"All
        Events","action":"events","url":null,"requires_owner":null},{"id":"69afa27d-a1ee-4531-b567-151e61513ba4","label":"Dashboard","action":"dashboard","url":null,"requires_owner":null},{"id":"e39cfd6d-4ac2-4e3a-bd33-f4836d391e4a","label":"Settings","action":"settings","url":null,"requires_owner":null}],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["PAPERTRAIL_API_TOKEN"],"created_at":"2016-05-31T14:20:46Z","id":"01247bea-2389-4363-8ca4-0764661d243b","name":"papertrail-trapezoidal-65911","a[...]
- request:
    method: post
    uri: https://api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_PRO_PLAN>/backups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3b52014d60336cce4203e23ef241ecd"
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":2145,"from_name":"NAVY","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2020-12-13
        16:22:42 +0000","started_at":null,"canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":25}'
  recorded_at: Sun, 13 Dec 2020 16:22:42 GMT
recorded_with: VCR 4.0.0
