---
http_interactions:
- request:
    method: post
    uri: https://postgres-starter-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/restores
    body:
      encoding: UTF-8
      string: '{"backup_url":"<VALID_DUMP_URL>"}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":168,"from_name":"BACKUP","from_type":"htcat","from_url":"<VALID_DUMP_URL>","to_name":"DATABASE","to_type":"pg_restore","to_url":"postgres://username:password@database_url:port/schema_name","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2018-07-07
        07:48:13 +0000","started_at":null,"canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Sat, 07 Jul 2018 07:48:13 GMT
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID_WITH_DATABASE>/transfers/168
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":168,"from_name":"BACKUP","from_type":"htcat","from_url":"<VALID_DUMP_URL>","to_name":"DATABASE","to_type":"pg_restore","to_url":"postgres://username:password@database_url:port/schema_name","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2018-07-07
        07:48:13 +0000","started_at":"2018-07-07 07:48:14 +0000","canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Sat, 07 Jul 2018 07:48:14 GMT
[...]
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID_WITH_DATABASE>/transfers/168
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":168,"from_name":"BACKUP","from_type":"htcat","from_url":"<VALID_DUMP_URL>","to_name":"DATABASE","to_type":"pg_restore","to_url":"postgres://username:password@database_url:port/schema_name","options":{},"source_bytes":null,"processed_bytes":7688794,"succeeded":true,"warnings":0,"created_at":"2018-07-07
        07:48:13 +0000","started_at":"2018-07-07 07:48:14 +0000","canceled_at":null,"updated_at":"2018-07-07
        07:48:57 +0000","finished_at":"2018-07-07 07:48:57 +0000","deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Sat, 07 Jul 2018 07:49:00 GMT
recorded_with: VCR 4.0.0
