---
http_interactions:
- request:
    method: post
    uri: https://postgres-starter-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/transfer-schedules
    body:
      encoding: UTF-8
      string: '{"hour":0,"timezone":"UTC","schedule_name":"DATABASE_URL"}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","name":"DATABASE_URL","hour":0,"days":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"timezone":"UTC","created_at":"2018-01-09
        11:28:57 +0000","updated_at":"2018-03-04 17:46:38 +0000","deleted_at":null,"retain_weeks":1,"retain_months":0}'
  recorded_at: Sun, 04 Mar 2018 17:46:38 GMT
recorded_with: VCR 4.0.0
