---
http_interactions:
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID>/transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OmQwYzA2Y2ExLWI1Y2EtNGEzNi1hYjU2LTU5ZmE0MmViMWIyYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"cff72f62-3ea9-4181-b02a-747adff8749b","num":504,"from_name":"DATABASE","from_type":"pg_dump","from_url":"from_url","to_name":"SCHEDULED
        BACKUP","to_type":"gof3r","to_url":"to_url","options":{},"source_bytes":25811480,"processed_bytes":2169504,"succeeded":true,"warnings":0,"created_at":"2018-03-01
        23:04:41 +0000","started_at":"2018-03-01 23:05:50 +0000","canceled_at":null,"updated_at":"2018-03-01
        23:06:22 +0000","finished_at":"2018-03-01 23:06:19 +0000","deleted_at":null,"purged_at":null,"num_keep":5,"schedule":{"uuid":"30167816-0cd9-4936-93a7-23121d1000bb"}},{"uuid":"e38dea08-ca24-47d8-ace0-a95e76354e5c","num":503,"from_name":"DATABASE","from_type":"pg_dump","from_url":"from_url","to_name":"SCHEDULED
        BACKUP","to_type":"gof3r","to_url":"to_url","options":{},"source_bytes":25655832,"processed_bytes":2142399,"succeeded":true,"warnings":0,"created_at":"2018-02-28
        23:02:35 +0000","started_at":"2018-02-28 23:03:59 +0000","canceled_at":null,"updated_at":"2018-02-28
        23:04:50 +0000","fi[...]
