---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID_WITH_DATABASE>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name postgresql-regular-65240..redis-concave-56624
      Content-Type:
      - application/json
      Etag:
      - '"cd3edf80873de388bbab22c06621432e"'
      Last-Modified:
      - Fri, 07 Feb 2025 07:31:47 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
    body:
      encoding: UTF-8
      string: '[{"actions":[{"id":"692d9fd1-3e58-4534-964a-3f0e6e1f8295","label":"Create
        Dataclip","action":null,"url":"http://dataclips.heroku.com/clips/new?heroku_resource_id=:resource_id&heroku_id=:resource_uuid","requires_owner":null},{"id":"df30c97b-64d3-4508-8f0b-338afe9e68c4","label":"Upgrade
        instructions","action":null,"url":"https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases","requires_owner":null}],"app":{"id":"f265ae59-4360-4bb7-a560-106a903a3c23","name":"<VALID_APP_ID_WITH_DATABASE>"},"config_vars":["DATABASE_URL","HEROKU_POSTGRESQL_BROWN_URL"],"created_at":"2021-09-23T09:22:30Z","id":"<VALID_DATABASE_ID_WITH_SCHEDULES>","name":"postgresql-regular-65240","addon_service":{"id":"6c67493d-8fc2-4cd4-9161-4f1ec11cbe69","name":"heroku-postgresql"},"plan":{"id":"c5b5a2f8-921e-494f-8dd7-d555a75ae8e5","name":"heroku-postgresql:essential-1"},"billing_entity":{"id":"f265ae59-4360-4bb7-a560-106a903a3c23","name":"<VALID_APP_ID_WITH_DATABASE>","type":"app"},"provider_id":"24643027","state":"provisioned","updated_at":"2024-12-06T20:07:36Z","web_url":"https://addons-sso.heroku.com/apps/f265ae59-4360-4bb7-a560-106a903a3c23/addons/<VALID_DATABASE_ID_WITH_SCHEDULES>","billed_price":{"cents":900,"contract":false,"unit":"month"}},{"actions":[],"app":{"id":"f265ae59-4360-4bb7-a560-106a903a3c23","name":"<VALID_APP_ID_WITH_DATABASE>"},"config_vars":["REDIS_URL"],"created_at":"2021-09-09T09:19:40Z","id":"7914a858-b8ac-428f-98e7-91e79ec5a9b0","name":"redis-concave-56624","addon_service":{"id":"5bbf672c-07f6-49c2-9c16-f1dcb96784db","name":"heroku-redis"},"plan":{"id":"f60e8b81-7f61-426c-afbc-b2cab4b8f271","name":"heroku-redis:premium-0"},"billing_entity":{"id":"f265ae59-4360-4bb7-a560-106a903a3c23","name":"<VALID_APP_ID_WITH_DATABASE>","type":"app"},"provider_id":"resource54842719@heroku.com","state":"provisioned","updated_at":"2025-02-07T07:31:47Z","web_url":"https://addons-sso.heroku.com/apps/f265ae59-4360-4bb7-a560-106a903a3c23/addons/7914a858-b8ac-428f-98e7-91e79ec5a9b0","billed_price":{"cents":1500,"contract":false,"unit":"month"}}]'
  recorded_at: Thu, 13 Mar 2025 08:44:35 GMT
- request:
    method: get
    uri: https://postgres-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"cd9e2ad7bb0d84ee5b4e5cb71883f645"
    body:
      encoding: ASCII-8BIT
      string: '{"addon_id":"<VALID_DATABASE_ID_WITH_SCHEDULES>","name":"postgresql-regular-65240","plan":"essential-1","created_at":"2024-06-27T23:33:36.642+00:00","database_user":"username","database_name":"schema_name","resource_url":"postgres://username:password@database_url:port/schema_name","waiting?":false,"num_bytes":26856795,"info":[{"name":"Plan","values":["essential-1"]},{"name":"Status","values":["Available"]},{"name":"Connections","values":["1/20"]},{"name":"PG
        Version","values":["14.13"]},{"name":"Created","values":["2024-06-27 23:33
        "]},{"name":"Data Size","values":["25.6 MB / 10 GB (0.25%) (In compliance)"]},{"name":"Tables","values":["83/4000
        (In compliance)"]},{"name":"Fork/Follow","values":["Unsupported"]},{"name":"Rollback","values":["Unsupported"]},{"name":"Continuous
        Protection","values":["Off"]}]}'
  recorded_at: Thu, 13 Mar 2025 08:44:36 GMT
recorded_with: VCR 6.3.1
