---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>/addons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Expansion:
      - addon_service, plan
      Content-Range:
      - name deadmanssnitch-lively-37762..scheduler-clear-54288
      Content-Type:
      - application/json
      Etag:
      - '"61d95ab7911fea10c087a3ad0b804323"'
      Last-Modified:
      - Thu, 03 Dec 2020 17:38:21 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      Ratelimit-Multiplier:
      - '1'
      Ratelimit-Remaining:
      - '4499'
    body:
      encoding: ASCII-8BIT
      string: '[{"actions":[],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["DEADMANSSNITCH_API_KEY"],"created_at":"2018-10-19T10:17:52Z","id":"501a42ac-b435-4a47-a97f-e0a001665a40","name":"deadmanssnitch-lively-37762","addon_service":{"id":"f9a479b6-d984-4158-898c-41e74c8eb007","name":"deadmanssnitch"},"plan":{"id":"724467ad-3cbd-450d-a7fe-ca41a56024c3","name":"deadmanssnitch:the-lone-snitch"},"billing_entity":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>","type":"app"},"provider_id":"c2f4ae8e-c4a5-43d7-b3b2-f984b3a4f367","state":"provisioned","updated_at":"2019-02-08T08:35:51Z","web_url":"https://addons-sso.heroku.com/apps/a7866ca8-08de-4cde-9a7d-bd5601594f7d/addons/501a42ac-b435-4a47-a97f-e0a001665a40","billed_price":{"cents":0,"contract":false,"unit":"month"}},{"actions":[],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["NEW_RELIC_LICENSE_KEY","NEW_RELIC_LOG"],"created_at":"2018-06-04T13:35:46Z","id":"c1aec446-6876-41e2-8dd4-41184366076a","name":"newrelic-opaque-25606","addon_service":{"id":"242de9a1-6b5d-4b98-9c13-b03ade5e45af","name":"newrelic"},"plan":{"id":"68d1fd95-a98b-4263-bcdc-87aefb37662c","name":"newrelic:hawke"},"billing_entity":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>","type":"app"},"provider_id":"1997198","state":"provisioned","updated_at":"2019-04-14T08:17:46Z","web_url":"https://addons-sso.heroku.com/apps/a7866ca8-08de-4cde-9a7d-bd5601594f7d/addons/c1aec446-6876-41e2-8dd4-41184366076a","billed_price":{"cents":4900,"contract":false,"unit":"month"}},{"actions":[{"id":"bbb84dad-c246-4ae9-bbaf-dd8316e55663","label":"All
        Events","action":"events","url":null,"requires_owner":null},{"id":"69afa27d-a1ee-4531-b567-151e61513ba4","label":"Dashboard","action":"dashboard","url":null,"requires_owner":null},{"id":"e39cfd6d-4ac2-4e3a-bd33-f4836d391e4a","label":"Settings","action":"settings","url":null,"requires_owner":null}],"app":{"id":"a7866ca8-08de-4cde-9a7d-bd5601594f7d","name":"<VALID_APP_ID_WITH_DB_IN_PRO_PLAN>"},"config_vars":["PAPERTRAIL_API_TOKEN"],"created_at":"2016-05-31T14:20:46Z","id":"01247bea-2389-4363-8ca4-0764661d243b","name":"papertrail-trapezoidal-65911","a[...]
- request:
    method: get
    uri: https://postgres-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_PRO_PLAN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"b6fb9f42f32e9b05e428975478c432fc"
    body:
      encoding: ASCII-8BIT
      string: '{"following":null,"forked_from":"67bd5e78-287e-41f1-9bbf-6caf9e5b9130","hot_standby?":true,"addon_id":"<VALID_DATABASE_ID_WITH_PRO_PLAN>","name":"postgresql-defined-53666","heroku_resource_id":"resource39220900@heroku.com","formation":{"id":"aa23c355-3147-480e-a04d-f9550884b7dd","primary":"95a50083-d689-4889-a0cc-911e36217da0"},"metaas_source":"dod-postgres://username:password@database_url:port/schema_name","num_connections":12,"num_connections_waiting":0,"num_tables":48,"current_transaction":269601263,"num_bytes":6139601775,"postgres_version":"12.4","plan":{"id":170,"created_at":"2016-04-04T20:54:02.919+00:00","service_slug":"heroku-postgresql","name":"standard-0","tier":"standard","slots":"32.0","instance_type":"t2.medium","virt_type":"hvm","bit_depth":64,"slack_quantity":5,"default_disk_size":68,"default_disk_iops":204,"status":"production","attrs_unparsed":{"work_mem":"32MB","capacity_bytes":"68719476736","hard_connlimit":"200","soft_connlimit":"120","maintenance_work_mem":"128MB"},"default_block_device_mapping":[{"DeviceName":"/dev/sda1","Ebs.VolumeSize":68,"Ebs.VolumeType":"gp2","Ebs.DeleteOnTermination":true},{"DeviceName":"/dev/xvdb","Ebs.Encrypted":true,"Ebs.VolumeSize":68,"Ebs.VolumeType":"gp2","Ebs.DeleteOnTermination":true},{"DeviceName":"/dev/xvdf","Ebs.Encrypted":true,"Ebs.VolumeSize":68,"Ebs.VolumeType":"gp2","Ebs.DeleteOnTermination":true},{"DeviceName":"/dev/xvdg","Ebs.Encrypted":true,"Ebs.VolumeSize":68,"Ebs.VolumeType":"gp2","Ebs.DeleteOnTermination":true}]},"created_at":"2020-10-06T17:21:08.826+00:00","port":5432,"database_name":"schema_name","database_user":"username","database_password":"p09ee5a1175775473252743925ce7be7cc85f8fc31fdde939cbedcc9c82e39cc1","target_transaction":null,"available_for_ingress":true,"resource_url":"postgres://username:password@database_url:port/schema_name","waiting?":false,"credentials":1,"leader":null,"info":[{"name":"Plan","values":["Standard
        0"]},{"name":"Status","values":["Available"]},{"name":"Data Size","values":["5.72
        GB"]},{"name":"Tables","values":[48]},{"name":"PG Version","values":["12.4"]},{"name":"Connections","values":["12/120"]},{"name":"Connection
        Pooling","values":["Available"]},{"name":"Credentials","values":[1]},{"name":"Fork/Follow","values":["Available"]},{"name":"Rollback","values":["earliest
        from 2020-12-09 15:17 UTC"]},{"name":"Created","values":["2020-10-06 17:21
        "]},{"name":"Region","values":["eu"]},{"name":"Data Encryption","values":["In
        Use"]},{"name":"Continuous Protection","values":["On"]},{"name":"Followers","values":[],"resolve_db_name":true},{"name":"Forks","values":[],"resolve_db_name":true},{"name":"Maintenance","values":["not
        required"]},{"name":"Maintenance window","values":["Sundays 22:30 to Mondays
        02:30 UTC"]}]}'
  recorded_at: Sun, 13 Dec 2020 15:17:28 GMT
recorded_with: VCR 4.0.0
