---
http_interactions:
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/transfer-schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic OmQwYzA2Y2ExLWI1Y2EtNGEzNi1hYjU2LTU5ZmE0MmViMWIyYw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"4106f0bd-74f9-472b-b0d4-5c272f1da1c5","name":"DATABASE_URL","hour":2,"days":["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"],"timezone":"Europe/Zurich","created_at":"2018-01-09
        11:28:57 +0000","updated_at":"2018-03-02 01:19:52 +0000","deleted_at":null,"retain_weeks":1,"retain_months":0}]'
  recorded_at: Fri, 02 Mar 2018 17:46:29 GMT
recorded_with: VCR 4.0.0
