---
http_interactions:
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID>/transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":1721,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":8150151,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2020-12-13
        16:22:40 +0000","started_at":"2020-12-13 16:22:40 +0000","canceled_at":null,"updated_at":"2020-12-13
        16:22:42 +0000","finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":2},{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":1720,"from_name":"BACKUP","from_type":"htcat","from_url":"<VALID_DUMP_URL>","to_name":"DATABASE","to_type":"pg_restore","to_url":"postgres://username:password@database_url:port/schema_name","options":{},"source_bytes":null,"processed_bytes":3635,"succeeded":true,"warnings":0,"created_at":"2020-12-13
        15:32:29 +0000","started_at":"2020-12-13 15:32:29 +0000","canceled_at":null,"updated_at":"2020-12-13
        15:32:35 +0000","finished_at":"2020-12-13 15:32:33 +0000","deleted_at":null,"purged_at":null,"num_keep":5},{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","n[...]
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID>/transfers/1721
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":1721,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":8150151,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2020-12-13
        16:22:40 +0000","started_at":"2020-12-13 16:22:40 +0000","canceled_at":null,"updated_at":"2020-12-13
        16:22:42 +0000","finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":2}'
  recorded_at: Sun, 13 Dec 2020 16:22:46 GMT
recorded_with: VCR 4.0.0
