---
http_interactions:
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID>/transfers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":508,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"SCHEDULED
        BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":26376728,"processed_bytes":2234522,"succeeded":true,"warnings":0,"created_at":"2018-03-05
        23:02:07 +0000","started_at":"2018-03-05 23:03:14 +0000","canceled_at":null,"updated_at":"2018-03-05
        23:03:46 +0000","finished_at":"2018-03-05 23:03:43 +0000","deleted_at":null,"purged_at":null,"num_keep":5,"schedule":{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c"}},{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":507,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"SCHEDULED
        BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":26139160,"processed_bytes":2217957,"succeeded":true,"warnings":0,"created_at":"2018-03-04
        23:03:49 +0000","started_at":"2[...]
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID>/transfers/508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":508,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"SCHEDULED
        BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":26376728,"processed_bytes":2234522,"succeeded":true,"warnings":0,"created_at":"2018-03-05
        23:02:07 +0000","started_at":"2018-03-05 23:03:14 +0000","canceled_at":null,"updated_at":"2018-03-05
        23:03:46 +0000","finished_at":"2018-03-05 23:03:43 +0000","deleted_at":null,"purged_at":null,"num_keep":5,"schedule":{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c"}}'
  recorded_at: Tue, 06 Mar 2018 08:00:25 GMT
recorded_with: VCR 4.0.0
