---
http_interactions:
- request:
    method: post
    uri: https://postgres-starter-api.heroku.com/client/v11/databases/<VALID_DATABASE_ID_WITH_SCHEDULES>/backups
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":72,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2018-03-08
        19:21:14 +0000","started_at":null,"canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Thu, 08 Mar 2018 19:21:14 GMT
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID_WITH_DATABASE>/transfers/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":72,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":null,"processed_bytes":0,"succeeded":null,"warnings":0,"created_at":"2018-03-08
        19:21:14 +0000","started_at":"2018-03-08 19:21:14 +0000","canceled_at":null,"updated_at":null,"finished_at":null,"deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Thu, 08 Mar 2018 19:21:15 GMT
[...]
- request:
    method: get
    uri: https://postgres-starter-api.heroku.com/client/v11/apps/<VALID_APP_ID_WITH_DATABASE>/transfers/72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uuid":"82ead067-7608-f587-cf6f-d351ba6b684c","num":72,"from_name":"DATABASE","from_type":"pg_dump","from_url":"postgres://username:password@database_url:port/schema_name","to_name":"BACKUP","to_type":"gof3r","to_url":"https://bucket_name.s3.amazonaws.com/resource_address","options":{},"source_bytes":959791276,"processed_bytes":104333312,"succeeded":true,"warnings":0,"created_at":"2018-03-08
        19:21:14 +0000","started_at":"2018-03-08 19:21:14 +0000","canceled_at":null,"updated_at":"2018-03-08
        19:24:30 +0000","finished_at":"2018-03-08 19:24:30 +0000","deleted_at":null,"purged_at":null,"num_keep":5}'
  recorded_at: Thu, 08 Mar 2018 19:24:30 GMT
recorded_with: VCR 4.0.0
